extends ../main

block title 
	| Тестовое задание

block content
	article.content-wrapper
		.container
			.about-students
				ol.students
					-for (var i = 0; i < 6; i++)
						li.students__item Рощин Максим Вячеславович
				.photo
					.photo__wrapper 
						img(src="../img/photo/oldsupman.png" alt="Photo teachers").photo__img
						.photo__text Преподаватели нашего класса
			.about-class
				h2.about-class__title Кратко о классе
				p.about-class__text
					| Marvel Comics и DC Comics разделяют владение маркой США на слова «супергерой» и «супергерои». Эти две компании владеют большинством самых известных и влиятельных в мире супергероев. Из «Значимой семёрки», выбранной The Comic Book in America: An Illustrated History (1989), Marvel принадлежат Человек-паук и Капитан Америка, а DC — Супермен, Бэтмен, Чудо-женщина, Капитан Марвел и Пластиковый человек. Как и многие не Marvel-овские персонажи, популярные в 1940-х, последние два были приобретены DC у ныне не существующих издательств.[5] Однако существуют значимые герои, принадлежащие другим, особенно с 1990-х, когда развились Image Comics и другие компании, позволявшие создателям сохранять марку и редакторский контроль над их персонажами. Хэллбой, Спаун и Непобедимый — из числа самых успешных принадлежащих создателям героев.

			