- var socials = ['twitter', 'vk', 'facebook', 'instagram'];
- var navigation = ['Планшеты', 'Мобильные телефоны', 'Мр3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Аксессуары', 'Бытовая техника'];
- var options = ['1995', '1996', '1997','1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005'];
- var views = ['column', 'grid', 'list'];
- var desc = {'Тип SIM-карты':'Micro-SIM', 'Количество SIM-карт':'2', 'Цвет':'Белый', 'ОС':'Android', 'Связь 3G':'Eсть', '4G(LTE)':'Нет', 'GPS-модуль':'Есть'};
- var sortTop = ['Флагманы', 'Бюджетная линейка'];
- var brands = ['Lenovo', 'Apple', 'Samsung', 'Asus', 'Motorola'];
- var colors = ['ffffff', 'cccccc', '000000', '0a3153', 'ff1800', 'fff343', 'fb914a', '92c37c', '40a6ff', '9870ad', 'dc78ad', '7f401d'];
- var os = ['Android', 'iOS', 'Windows Mobile', 'Symbian', 'Custom'];
- var items = ['Во всех магазинах', 'В ближайшем ко мне магазине'];


