- var socials = ['twitter', 'vk', 'facebook', 'instagram'];
- var options = ['1995', '1996', '1997','1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005'];
- var nav_one = ['Безумный учёный', 'Благородный дикарь', 'Благородный разбойник'];
- var nav_two = ['Герой поневоле', 'Дева в беде', 'Дева-воительница'];
- var nav_tree = ['Король под горой', 'Лишний человек', 'Плохой парень'];
- var nav_four = ['Прекрасный принц', 'Роковая женщина', 'Трикстер'];
 

