footer.footer
	.container 
		.footer__contacts
			.footer__contacts-copyright
				| &copy; «Рога и копыта инкорпорейтед»
			.footer__contacts-phone
				a(href="tel:+09991234567" title="phone").footer__contacts-num Тел.: +0 999 123-45-67
		.footer__nav
			+ul('footer__nav', nav_one, -1, true)
			+ul('footer__nav', nav_two, -1, true)
			+ul('footer__nav', nav_tree, -1, true)
			+ul('footer__nav', nav_four, -1, true)
			//- ul.footer__options-list
			//- 	li.footer__options-item
			//- .footer__left
			//- 	a(href="#" title="").logo.logo_footer
			//- 		img(src="../img/logo/logo_footer.png" alt="").logo__img
			//- 		span.logo__text 
			