footer.footer
	.container 
		.footer__copyright
			&copy; «Рога и копыта инкорпорейтед»
		.footer__phone
			a(href="tel:+09991234567" title="phone").footer__phone-num Тел.: +0 999 123-45-67
			.footer__left
				a(href="#" title="").logo.logo_footer
					img(src="../img/logo/logo_footer.png" alt="").logo__img
					span.logo__text 
			.footer__right
				.footer__right-wrap
					ul.socials.socials_footer
						each social in socials
							li(class="socials__item socials__item_" + social)
								a(href="#").socials__link= social
				+ul('footer-nav', navigation, -1, true)
	.footer__bottom
		.container
			.footer__copyright 