.about-students {
	@include clearfix;
	margin-bottom: 18px;
}

.students {
	float: left;
	width: 60%;
	padding-left: 20px;
	margin: 58px 0  20px 0;
}

.students__item {
	line-height: 32px;
	padding-left: 8px;
	color: $main_black;
}

.photo {
	float: left;
	margin-top: 20px;
}

.photo__wrapper {
	position: relative;
	width: 272px;
	height: 274px;
	@include border-radius(50%);
	overflow: hidden;
	background: #245386;

	&:after {
		content:'';
		position: absolute;
		left: 0;
		right: 0;
		top: 2px;
		bottom: 0;
		@include border-radius(50%);
		background: #0b1928;
		opacity: 0.8;
		clip: rect(0, 77px, 272px, 0);
		@include transform(rotate(-90deg));
	}
}

.photo__img {
	display: block;
	@include center;
	left: -150px;
}

.photo__text {
	width: 163px;
	position: absolute;
	bottom: 24px;
	left: 54px;
	right: 0;
	z-index:1;
	color: $main_orange;
	font-family: $font-semibold_italic;
	font-size: $font-size_main + 7px;
	line-height: 24px;
	text-decoration: underline; 
	text-align:center;
}

.about-class {
	margin-bottom: 20px;
}
.about-class__title {
	color: #ffb400;
	font-size: $font-size_main + 7px;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.about-class__text {
	line-height: 24px;
	letter-spacing: -0.1px;
	color:#666;
}

.about-costume {
	@include clearfix;
	margin-bottom: 52px;
}
.about-costume__title  {
	font-family: $font-semibold;
	font-size: $font-size_main + 2px;
	color: #000;
	line-height: 32px;
	margin-bottom: 20px;
}

.about-costume__left {
	width:370px;
	float: left;
}

.about-costume___img {
	display: block;
	max-width: 100%;
}
.about-costume__right {
	width: 570px;
	float:right;
}

.about-costume__text {
	@extend .about-class__text;
	margin-bottom: 6px;
}

.about-costume__link {
	color:#ffc000;
	position: relative;

	&:after {
		content:'';
		position: absolute;
		top: 6px;
		right: -7px;
		@include get-sprite($general-sprite, link_right); 

	}
}