// Colors
$main_bg: #fff;
$main_white_title: #fefffe;
$main_black: #333;
$main_grey: #666;
$main_orange: #f1a20d;
$main_border-grey: #dee1e4;

// Setting
$container-width: 970px;
$footer-height: 122px;
$socials: twitter, vk, facebook, instagram;
// Fonts
$font-size_main: 13px;
$font-main: 'OpensansReqular', sans-serif;
$font-semibold: 'OpensansSemibold';
$font-bold: 'OpensansBold';
$font-semibold_italic: 'OpensansSemiboldItalic';
$font-light: 'OpensansLight';
$font-light_italic: 'OpensansLightItalic';

//Paths
$path-images: '../img';
$path-fonts: '../fonts/';